
$duration-default: 1s !default;

$duration-flip-out-x: .75s !default;
$duration-flip-out-y: .75s !default;

$duration-bounce-in: .75s !default;
$duration-bounce-out: .75s !default;

$duration-hinge: 2s !default;

$supported-vendor-prefixes: ("webkit", "moz", "ms", "o", false) !default;

$bounce-in-down-config: () !default;
$bounce-in-down-config: () !default;
$bounce-in-left-config: () !default;
$bounce-in-right-config: () !default;
$bounce-in-up-config: () !default;
$bounce-in-config: () !default;
$bounce-out-down-config: () !default;
$bounce-out-left-config: () !default;
$bounce-out-right-config: () !default;
$bounce-out-up-config: () !default;
$bounce-out-config: () !default;
$bounce-config: () !default;
$fade-in-down-big-config: () !default;
$fade-in-down-config: () !default;
$fade-in-left-big-config: () !default;
$fade-in-left-config: () !default;
$fade-in-right-big-config: () !default;
$fade-in-right-config: () !default;
$fade-in-up-big-config: () !default;
$fade-in-up-config: () !default;
$fade-in-config: () !default;
$fade-out-down-big-config: () !default;
$fade-out-down-config: () !default;
$fade-out-left-big-config: () !default;
$fade-out-left-config: () !default;
$fade-out-right-big-config: () !default;
$fade-out-right-config: () !default;
$fade-out-up-big-config: () !default;
$fade-out-up-config: () !default;
$fade-out-config: () !default;
$flip-In-x-config: () !default;
$flip-In-y-config: () !default;
$flip-out-x-config: () !default;
$flip-out-y-config: () !default;
$flip-config: () !default;
$light-speed-in-config: () !default;
$light-speed-out-config: () !default;
$rotate-in-down-left-config: () !default;
$rotate-in-down-right-config: () !default;
$rotate-in-up-left-config: () !default;
$rotate-in-up-right-config: () !default;
$rotate-in-config: () !default;
$rotate-out-down-left-config: () !default;
$rotate-out-down-right-config: () !default;
$rotate-out-up-left-config: () !default;
$rotate-out-up-right-config: () !default;
$rotate-out-config: () !default;
$slide-in-down-config: () !default;
$slide-in-left-config: () !default;
$slide-in-right-config: () !default;
$slide-in-up-config: () !default;
$slide-out-down-config: () !default;
$slide-out-left-config: () !default;
$slide-out-right-config: () !default;
$slide-out-up-config: () !default;
$flash-config: () !default;
$head-shake-config: () !default;
$hinge-config: () !default;
$jello-config: () !default;
$pulse-config: () !default;
$roll-in-config: () !default;
$roll-out-config: () !default;
$rubber-band-config: () !default;
$shake-config: () !default;
$swing-config: () !default;
$tada-config: () !default;
$wobble-config: () !default;
$zoom-in-down-config: () !default;
$zoom-in-left-config: () !default;
$zoom-in-right-config: () !default;
$zoom-in-up-config: () !default;
$zoom-in-config: () !default;
$zoom-out-down-config: () !default;
$zoom-out-left-config: () !default;
$zoom-out-right-config: () !default;
$zoom-out-up-config: () !default;
$zoom-out-config: () !default;
