
@mixin flip-out-x($duration:null, $delay:null, $infinite:null, $forwards:null, $config:()) {

    $name: 'flip-out-x';
    $config: extend( map-get($default-configs, $name), $config);

    @include animate-or-infinite($duration, $delay, $infinite, $forwards);

    @each $vendor in $supported-vendor-prefixes {

        @include keyframes($name, $vendor) {

            0%   { @include prefix(transform, perspective(400px), $vendor); }

            30%  { @include prefix(transform, perspective(400px) rotate3d(1, 0, 0, -20deg), $vendor); opacity: 1; }

            100% { @include prefix(transform, perspective(400px) rotate3d(1, 0, 0, 90deg), $vendor); opacity: 0; }
        }
    }

    @if not $duration {
        $duration: $duration-flip-out;
    }

    @include animation($name, $duration, $delay, $infinite, $forwards);
    @include prefix(backface-visibility, visible !important, '*');
}
