
@mixin bounce-out-up($duration:null, $delay:null, $infinite:null, $forwards:null, $config:()) {

    $name: 'bounce-out-up';
    $config: extend( map-get($default-configs, $name), $config);

    @include animate-or-infinite($duration, $delay, $infinite, $forwards);

    @each $vendor in $supported-vendor-prefixes {

        @include keyframes($name, $vendor) {

            20%      { @include prefix(transform, translate3d(0, -10px, 0), $vendor); }

            40%, 45% { @include prefix(transform, translate3d(0, 20px, 0), $vendor); opacity: 1; }

            100%     { @include prefix(transform, translate3d(0, -2000px, 0), $vendor); opacity: 0; }
        }
    }

    @if not $duration {
        $duration: $duration-bounce-out;
    }

    @include animation($name, $duration, $delay, $infinite, $forwards);
}
