
@mixin bounce-in-left($duration:null, $delay:null, $infinite:null, $forwards:null, $config:()) {

    $name: 'bounce-in-left';
    $configs: extend( map-get($default-configs, $name), $config);

    @include animate-or-infinite($duration, $delay, $infinite, $forwards);

    @each $vendor in $supported-vendor-prefixes {

        @include keyframes($name, $vendor) {

            0%, 60%, 75%, 90%, 100% { @include prefix(animation-timing-function, cubic-bezier(0.215, 0.610, 0.355, 1.000), $vendor); }

            0%   { @include prefix(transform, translate3d( map-get($config,'1'), 0, 0), $vendor); opacity: 0; }

            60%  { @include prefix(transform, translate3d( map-get($config,'2'), 0, 0), $vendor); opacity: 1; }

            75%  { @include prefix(transform, translate3d( map-get($config,'3'), 0, 0), $vendor); }

            90%  { @include prefix(transform, translate3d( map-get($config,'4'), 0, 0), $vendor); }

            100% { @include prefix(transform, none, $vendor); }
        }
    }

    @if not $duration {
        $duration: $duration-bounce-in;
    }

    @include animation($name, $duration, $delay, $infinite, $forwards);
}
