
@mixin bounce-out($duration:null, $delay:null, $infinite:null, $forwards:null, $config:()) {

    $name: 'bounce-out';
    $config: extend( map-get($default-configs, $name), $config);

    @include animate-or-infinite($duration, $delay, $infinite, $forwards);

    @each $vendor in $supported-vendor-prefixes {

        @include keyframes($name, $vendor) {

            20%      { @include prefix(transform, scale3d(.9, .9, .9), $vendor); }

            50%, 55% { @include prefix(transform, scale3d(1.1, 1.1, 1.1), $vendor); opacity: 1; }

            100%     { @include prefix(transform, scale3d(.3, .3, .3), $vendor); opacity: 0; }
        }
    }

    @if not $duration {
        $duration: $duration-bounce-out;
    }

    @include animation($name, $duration, $delay, $infinite, $forwards);
}
