
@mixin light-speed-in($duration:null, $delay:null, $infinite:null, $forwards:null, $config:()) {

    $name: 'light-speed-in';
    $config: extend( map-get($default-configs, $name), $config);

    @include animate-or-infinite($duration, $delay, $infinite, $forwards);

    @each $vendor in $supported-vendor-prefixes {

        @include keyframes($name, $vendor) {

            0%   { @include prefix(transform, translate3d(100%, 0, 0) skewX(-30deg), $vendor); opacity: 0; }

            60%  { @include prefix(transform, skewX(20deg), $vendor); opacity: 1; }

            80%  { @include prefix(transform, skewX(-5deg), $vendor); opacity: 1; }

            100% { @include prefix(transform, none, $vendor); opacity: 1; }
        }
    }

    @include animation($name, $duration, $delay, $infinite, $forwards);
    @include prefix(animation-timing-function, ease-out, '*');
}
